:root {
    --bg-primary: #262636;
    --bg-secondary: #36363f;
    --gradient: linear-gradient(90deg, #00ffff , #8c00ff);
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SG-Regular/SpaceGrotesk-Regular.eot'); /* IE9 Compact Modes */
    src: url('fonts/SG-Regular/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/SG-Regular/SpaceGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/SG-Regular/SpaceGrotesk-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/SG-Regular/SpaceGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/SG-Regular/SpaceGrotesk-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SG-Bold/SpaceGrotesk-Bold.eot'); /* IE9 Compact Modes */
    src: url('fonts/SG-Bold/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/SG-Bold/SpaceGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/SG-Bold/SpaceGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/SG-Bold/SpaceGrotesk-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/SG-Bold/SpaceGrotesk-Bold.svg') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
}

::-webkit-scrollbar {
    width: 0;
}

.header {
    position: relative;
    width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
    background: var(--bg-secondary);
    z-index: 1;
}

.logo-image {
    padding: 1rem;
    filter: drop-shadow(0 0 0.5rem #00000075);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.navbar {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    width: 100vw;
    height: 2rem;
    border: 0px solid;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--bg-secondary);
    box-shadow: 0 0 1rem #00000075;
    z-index: 0; 
}

.nav-link {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    text-decoration: none;
}

.nav-link > p {
    color: #dbdbdb;
    margin: 0.5rem 0;
    text-align: center;
}

.nav-link:hover {
    background-color: var(--bg-primary);
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    margin: 2rem;
    padding: 2rem;
    max-width: 32rem;
    background: var(--bg-secondary);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem #00000075;
    transition-duration: 0.1s;
}

.article-header {
    padding-bottom: 2rem;
    width: fit-content;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 0.5rem #0000009a);
}

.article-paragraph {
    color: #dbdbdb;
    text-align: justify;
    line-height: 1.35rem;
}

.footer-waves {
    width: 100vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.page-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer-content {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-icon { margin: calc((width / 2)rem); }

.icon-img {
    filter: drop-shadow(0 0 0.5rem #0000009a);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* ARCHIVES */

.grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-grid {
    display: grid;
    place-items: center;
    place-self: center;
    gap: 1rem 1rem;
}

.video-element {
    object-fit: cover;
    width: 20rem;
    border-radius: 1rem;
}

/* ARCHIVES */

/* Large Screens*/
@media only screen and (min-width: 930px) {

    :root {
        font-family: 'Space Grotesk', monospace;
        font-size: 16px;
    }

    .header {
        justify-content: space-between;
    }

    .filler {
        height: 2.5rem;
        width: 5rem;
        margin: 2rem;
    }

    .logo-image {
        margin: 1rem;
        height: 2.5rem;
    }

    .stylish-logo-text {
        font-size: 3rem;
        padding: 1rem;
        text-overflow: clip;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 0.5rem #0000009a);
        user-select: none;
    }

    .logo-text { display: none; }

    .article:hover {
        scale: 1.1;
    }

    .icon-img {
        width: 4rem;
    }

    .video-grid {
        grid-template-columns: min-content min-content;
    }
}


/*Upper Medium Screens*/
@media only screen and (min-width: 600px) and (max-width: 930px) {

    :root {
        font-family: 'Space Grotesk', monospace;
        font-size: 12px;
    }

    .header {
        justify-content: space-evenly;
    }

    .filler { display: none; }

    .logo-image {
    height: 2.5rem;
    }

    .stylish-logo-text {
        font-size: 3rem;
        padding: 1rem;
        text-overflow: clip;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 0.5rem #0000009a);
        user-select: none;
    }

    .logo-text { display: none; }

    .article:hover {
        scale: 1.1;
    }

    .icon-img {
        width: 3rem;
    }

    .video-grid {
        grid-template-columns: min-content min-content;
    }
}

/*Lower Medium Screens*/
@media only screen and (min-width: 400px) and (max-width: 600px) {

    :root {
        font-family: 'Space Grotesk', monospace;
        font-size: 12px;
    }

    .header {
        justify-content: space-between;
    }

    .filler { display: none; }

    .logo-image {
    height: 2.5rem;
    }

    .logo-text {
        font-size: 3rem;
        padding: 1rem;
        text-overflow: clip;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 0.5rem #0000009a);
        user-select: none;
    }

    .stylish-logo-text { display: none; }

    .icon-img {
        width: 3rem;
    }

    .video-grid {
        grid-template-columns: min-content;
    }
}

/*Small Screens*/
@media only screen and (max-width: 400px) {

    :root {
        font-family: 'Space Grotesk', monospace;
        font-size: 12px;
    }

    .header {
        justify-content: space-between;
    }

    .filler { display: none; }

    .logo-image {
    height: 1.75rem;
    }

    .logo-text {
        font-size: 2rem;
        padding: 1rem;
        text-overflow: clip;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 0.5rem #0000009a);
        user-select: none;
    }

    .stylish-logo-text { display: none; }

    .icon-img {
        width: 2rem;
    }

    .video-grid {
        grid-template-columns: min-content;
    }
}
